<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add New Plant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/backscreens.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Add New Plant</h1>

            <form method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Plant Name</label>
                    <input type="text" name="name" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-btn">Save Plant</button>
                </div>
            </form>
            <br>
                {% if active_plant %}
                    <a href="{{ url_for('journal', plant=active_plant.id) }}">← Back to Journal</a>
                {% else %}
                    <a href="{{ url_for('home') }}">← Back to Home</a>
                {% endif %}
        </div>


    </body>
</html>
